<div class="p-3">
  <h2>Login</h2>

  <form (ngSubmit)="login()" #loginForm="ngForm">
    <table class="table table-bordered" style="width: 400px;">
      <tbody>

      <tr>
        <td style="vertical-align: middle;">
          <label for="username">Username</label>
        </td>
        <td>
          <input
            type="text"
            id="username"
            name="username"
            [(ngModel)]="username"
            required
            class="input-group-text"
            placeholder="Inserisci il tuo username">
        </td>
      </tr>

      <tr>
        <td style="vertical-align: middle;">
          <label for="password">Password</label>
        </td>
        <td>
          <input
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password"
            required
            class="input-group-text"
            placeholder="Inserisci la tua password">
        </td>
      </tr>

      <tr>
        <td colspan="2" style="text-align: right;">
          <button type="submit" class="btn-submit btn-sm" [disabled]="!loginForm.valid">
            Login
          </button>
        </td>
      </tr>

      </tbody>
    </table>
  </form>
</div>
